
  <%- include('partials/header'); -%>

  <h1>Welcome to the site</h1>

  <% if (message) { -%>
    <div class="message <%=messageClass%>"><%- message %></div>
  <% } -%>

  <% if (theNumber == undefined) { -%>
    <h2>WTF are you trying to do</h2>
  <% } else { -%>
    <h2>You are on page number <%= theNumber %></h2>
  <% } -%>

  <%- include('partials/footer'); -%>
